<!DOCTYPE html>
<html ng-app="pApp" ng-cloak>
    <head>
        <title>Playname</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/app.factory.js"></script>
        <script src="js/app.directive.js"></script>
        <script src="js/app.controller.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="resources/styles.css">
        <!--<link rel="stylesheet" href="resources/normalize.css">-->
    </head>
    <body ng-controller="bgCtrl" ng-attr-style="background: rgb({{color.red}}, {{color.green}}, {{color.blue}})">
        <div class="row-fluid">
            <div class="links col-xs-4 col-md-4">
                <h2>Links</h2>

                <table ng-controller="LinksCtrl">
                    <tr ng-repeat="link in links">
                        <td><a href="{{link.url}}">{{link.name}}</a></td>
                    </tr>
                </table>
            </div>

            <div class="center col-xs-4 col-md-4">
                <h1>Welcome!</h1>

                <div>
                    <a href="https://www.youtube.com/channel/UChVH_oFqQV6j8zOpZawz1zQ" class="hidden-xs">
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                            <img class="smIcon" src="resources/img/youtube.png" width="50" height="50" alt="YouTube">
                        </md-button>
                    </a>

                    &nbsp;
                    <a href="https://github.com/playname" class="hidden-xs">
                        <md-button class="md-fab md-primary md-hue-2 hidden-xs" aria-label="Profile">
                            <img class="smIcon" src="resources/img/github.png" width="30" height="30" alt="GitHub">
                        </md-button>
                    </a>
                </div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/tYp7wXqU9d4" frameborder="0" allowfullscreen class="video"></iframe>
            </div>

            <div class="col-xs-4 col-md-4" ng-controller="NewsCtrl" style="position: relative; top: 6em;">
                <nbtn></nbtn>
                <news></news>
            </div>
        </div>

        <div class="row-fluid bg">
            <div class="center col-xs-12">
                <h2>Select a background color</h2>
                <md-slider-container>
                    <span>R</span>
                    <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider">
                    </md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider" disabled>
                    </md-input-container>
                </md-slider-container>

                <md-slider-container>
                    <span>G</span>
                    <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" class="md-accent">
                    </md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider" disabled>
                    </md-input-container>
                </md-slider-container>

                <md-slider-container>
                    <span class="md-body-1">B</span>
                    <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
                    </md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider" disabled>
                    </md-input-container>
                </md-slider-container>
            </div>
        </div>
    </body>
</html>
