body {
    background-color: #333;

    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #e8e8e8;
    margin: 0 0 10px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}