.center { position: relative; top: 1em; margin: auto; text-align: center; }

.links { position: absolute; top: 1em; left: 1em; }

.links a { display: block; }

.links a:hover { background-color: rgb(100, 100, 100); }

.code { width:20em; position: relative; top: 1em; text-align: left; }

#wip { position: relative; top: 10em; }

/*EDITOR*/
#container { width: 43vw; height: 85vh; resize: none; }
#window { width: 49vw; height: 98vh; position: absolute; top: 0.5em; left: 50vw; }
#run { width: 10em; height: 5em; position: absolute; top: 91vh; left: 0.5em; background-color: rgb(10, 255, 0); }